.Phonetic {
  margin: 20px 0;
}

.Phonetic button {
  margin-left: 20px;
  color: #25201c;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.Phonetic button:hover {
  color: grey;
}
